body {
    box-sizing: border-box;
}

.logo {
    position: relative;
    top: 0;
    left: 27vw;
    width: 40%;
    height: auto;
    /* min-width: 1000px; */
    zoom: unset;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    /* filter: brightness(50%); */
    z-index: -9;
}
.base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -30;
}

.welcome {
    color: white;
}

h1 {
    font-family: Courier New;
    font-size: 2em;
    font-weight: 300;
    z-index: 3;
    top: 1vh;
    width: 30vw;
    height: auto;
}

h2 {
    opacity: 0.9;
}

h3 {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: light;
    /* letter-spacing: 0.3em; */
    z-index: 20;
    color: rgb(28, 159, 39);
}

#register-box,
#login-box {
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    display: flex;
    justify-items: left;
    flex-direction: column;
    gap: 20px;
    width: 30vw;
    height: 60vh;
    left: 40vw;
    top: 40vh;
    position: absolute;
    z-index: 3;
}

#reset-box {
    display: grid;
    place-items: center;
    font-family: Roboto, sans-serif;
    width: 40vw;
    height: 30vh;
    position: relative;
    left: 28vw;
    gap: 25px;
}

#register-box input,
#login-box input,
#reset-box input {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}

img.applogo {
    width: 100vw;
    height: 27vh;
    background-color: black;
    object-fit: contain;
    margin: 0;
    z-index: -1;
}

.profilepic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 23vh;
    right: 30px;
    z-index: 100;
    border: green 3px solid;
}

img.user-list {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 100;
}

.profile-box .profilepic {
    width: 450px;
    height: 450px;
    left: 3vw;
    top: 4vh;
}

button {
    width: 150px;
    height: 40px;
    background-color: rgb(24, 172, 61);
    border-radius: 15px;
    border: white 3px solid;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    margin-top: 30px;
}

button:hover {
    background: rgb(233, 30, 223);
    border: rgb(176, 218, 24) 2px solid;
    color: white;
    font-weight: bolder;
}

.friends button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(32, 25, 61);
    color: ivory;
}

.friends button:hover {
    background: rgb(21, 235, 39);
    border: rgb(176, 218, 24) 2px solid;
    color: white;
    font-weight: bolder;
}

.bio-edit {
    background-color: turquoise;
    width: 20vw;
    height: 20vh;
    border-radius: 12px;
    z-index: 2;
}

textarea {
    width: 33vw;
    height: 10vh;
    background-color: rgba(228, 228, 220, 0.6);
    font-size: 18px;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.profile-box {
    width: 80vw;
    height: 45vh;
    top: 40vh;
    left: 6vw;
    color: black;
    position: absolute;
    /* background-color: rgba(225, 121, 35, 0.2); */
}

.profile-text {
    width: 35vw;
    height: 40vh;
    float: right;
    /* margin-left: 15vw; */
    padding: 100px 60px;
}

.uploader-box {
    width: 40vw;
    height: 35vh;
    background-color: greenyellow;
    display: grid;
    place-items: center;
    left: 27vw;
    top: 37vh;
    position: absolute;
    border-radius: 15px;
    z-index: 110;
    box-shadow: 10px 5px 5px grey;
    padding: 30px 40px;
    border: rgb(12, 35, 5) 3px solid;
}

.welcome-text {
    color: white;
}

.uploader-box input {
    width: 200px;
    height: 40px;
}

.uploader-box img {
    width: 7vw;
    height: auto;
    z-index: 20;
}

.close {
    position: absolute;
    right: 22px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.search-ppl {
    position: fixed;
    top: 38vh;
}

input {
    width: 250px;
    height: 35px;
}

.view-ppl img {
    width: 300px;
    height: auto;
}

.friends-page {
    width: 100vw;
    height: auto;
    background: url(../3.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    display: flex;
    flex-direction: row;
    /* filter: brightness(50%); */
    zoom: 1;
}

/* #find-ppl-base {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    display: flex;
    flex-direction: row;
    zoom: 1;
    background: url(../4.jpg);
} */

.wannabes,
.friends {
    width: 30vw;
    height: 70vh;
    padding: 2vh 5vw;
    z-index: 20;
    border-radius: 12px;
    background: rgba(9, 9, 10, 0.4);
    margin-left: 7vw;
}

.navibar {
    width: 100vw;
    height: 4vh;
    text-align: center;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.8);
    top: 26vh;
}

.navibar a:link {
    font: caption;
    font-family: monospace;
    font-size: 22px;
    z-index: 99;
}
.navibar a:link:hover {
    transform: scale(1.3);
}

a:link {
    text-decoration: none;
    color: lawngreen;
    z-index: 99;
}

a:hover {
    color: rgb(230, 32, 131);
}

.uploader-box #button {
    width: 320px;
    height: 45px;
    font-size: 20px;
}

.chat-container {
    overflow-y: scroll;
    width: 35vw;
    height: 50vh;
    background: greenyellow;
    opacity: 0.9;
    left: 30vw;
    position: fixed;
    padding:20px 15px;
}

.input-box {
    position: fixed;
    left: 30vw;
    bottom: 2vh;
    background-color: rgba(98, 132, 47, 0.5);
    border-radius: 12px;
    padding: 20px 10px;
    height: 50px;
    width: 38vw;
}
